@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1769596186196') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuangxinjingxuan:before {
  content: "\e622";
}

.icon-icon:before {
  content: "\e638";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-mian:before {
  content: "\e67e";
}

.icon-bofang4:before {
  content: "\e656";
}

.icon-xinfeng:before {
  content: "\e61b";
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-erji:before {
  content: "\e602";
}

.icon-yunshangchuan:before {
  content: "\e6aa";
}

.icon-sousuo:before {
  content: "\e688";
}

.icon-chenghao:before {
  content: "\e619";
}

.icon-24gf-next:before {
  content: "\ea7f";
}

.icon-24gf-previous:before {
  content: "\ea88";
}

.icon-zuijin:before {
  content: "\e61f";
}

.icon-shuaxin:before {
  content: "\e612";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-pinglun:before {
  content: "\e8c5";
}

.icon-shangyige:before {
  content: "\e639";
}

.icon-maikefeng:before {
  content: "\e73b";
}

.icon-ziyuan:before {
  content: "\e503";
}

.icon-souyisou:before {
  content: "\e691";
}

.icon-shezhi:before {
  content: "\e7da";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-yinle:before {
  content: "\e6ad";
}

.icon-shouqi:before {
  content: "\e68d";
}

.icon-a-shili-zhankaizuocezhankaijiantou:before {
  content: "\e650";
}

.icon-xiazai:before {
  content: "\e62c";
}

.icon-scale:before {
  content: "\e6b4";
}

.icon-shouyinji:before {
  content: "\e7bc";
}

.icon-shenglvehao:before {
  content: "\e64f";
}

.icon-boke:before {
  content: "\e609";
}

.icon-shoucang:before {
  content: "\e642";
}

.icon-geci:before {
  content: "\e506";
}

.icon-xiayige:before {
  content: "\e60c";
}

.icon-boke1:before {
  content: "\ead5";
}

.icon-pifu:before {
  content: "\e509";
}

